#celeste{
    color: blue;
    background-color: black;
}

#violeta{
    color:blueviolet;
    background-color: rgb(91, 246, 86);
}
#naranja{
    color: orange;
    background-color: purple;
}
#verde{
    color: green;
    background-color: rgb(124, 39, 139);
}
.btn-start{
    background-color: yellow ;
    border-radius: 16px;

}

